body{
font-size: 25px;

}

.navbar-toggler{
  margin-right: 1rem;
}
nav div img {
  width: 100px;
  height: 60px;
}

nav div p { 
  padding-top: 15px;
  color: white;
  margin-right: 25%;
}

#as{
background-color: #383c42;

}

.img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/img/ba1.jpg);
  width: 100%;
  height: 800px;
  background-size: cover;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(168, 161, 161);
  padding-top: 15px;
  font-size: 20px;
  
}
.navbar-light .navbar-nav .nav-link:hover{
color: beige;

}
.nav-item:nth-child(3){
  color: green;
}

.texto {
  width: 35%;
  display: flex;
  align-items: end;
  flex-direction: column;
  color: white;
  margin-left: 55%;
  margin-top: 10%;
}
.texto h4 {
  margin-left: 70%;
}
.texto p {
  text-align: right;
}

.botones{
  display: flex;
  justify-content: end;
  width: 90%;
}
.btn-light {
  background-color: transparent;
  border-color: aliceblue;
  color: white;
}

.btn-success {
  border-color: rgb(48, 135, 45);
  background-color: rgb(48, 135, 45);
}

.titulo {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 25px;
}

.titulo p strong {
  font-size: 2rem;
}

.conoce {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.card {
  width: 24rem;
  margin: 0px 20px;
  border: none;
}
.card-body a{
font-size: 10px;
font-weight:bold;
padding: 0px 2px;

}
.btn-info{
  color: white;
}


.medio{
  display: flex;
  justify-content: center;
}
.medio img{
width: 50%;
margin-right: 1px;
}
.medio div{
background-color: #383c42;
color:white;
padding:1rem;
font-size: 25px;

}
.medio button{
padding: 5px 8px;

}
.row{
  margin: 3rem 20rem;
  
}
.mb-3{
  margin-top: 2rem;

}
.btn-primary{
  background-color: rgb(150 201 62);
  border-color:  rgb(150 201 62);
  margin-top: 10px;
}


.footer {
  background-color: #1d4962;
  height: 6rem;
 
}
.footer ul {
  padding-top: 15px;
 
}

.nav-link{
  color: white;
}