body {
  font-size: 25px;
}

.navbar-toggler {
  margin-right: 1rem;
}
nav div img {
  width: 100px;
  height: 60px;
}

nav div p {
  padding-top: 15px;
  color: white;
  margin-right: 25%;
}

#as {
  background-color: #383c42;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(168, 161, 161);
  padding-top: 15px;
  font-size: 20px;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: beige;
}
#verde {
  color: green;
}

.texto {
  position: relative;
  display: flex;
  align-items: end;
  flex-direction: column;
  color: rgb(253, 239, 239);
  font-size: 1rem;
  margin-left: 50%;
  margin-bottom: 15%;
}

.texto p {
  text-align: right;
}

.botones {
  display: flex;
  justify-content: end;
  width: 90%;
}
.btn-light {
  background-color: transparent;
  border-color: aliceblue;
  color: white;
  margin-right: 1rem;
}

.btn-success {
  border-color: rgb(48, 135, 45);
  background-color: rgb(48, 135, 45);
}

.titulo {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 25px;
}

.titulo p strong {
  font-size: 2rem;
}

.conoce {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.card {
  width: 24rem;
  margin: 0px 20px;
  border: none;
}
.card-body a {
  font-size: 10px;
  font-weight: bold;
  padding: 0px 2px;
}
.btn-info {
  color: white;
}

.medio {
  display: flex;
  justify-content: center;
}
.medio img {
  width: 50%;
  margin-right: 1px;
}
.medio div {
  background-color: #383c42;
  color: white;
  padding: 1rem;
  font-size: 25px;
}
.medio button {
  padding: 5px 8px;
}
#conferencia {
  margin: 3rem 10rem;
}
.mb-3 {
  margin-top: 2rem;
}
.btn-primary {
  background-color: rgb(150 201 62);
  border-color: rgb(150 201 62);
  margin-top: 10px;
}

.footer {
  background-color: #1d4962;
  height: 100%;
}
.footer ul {
  padding-top: 15px;
}

.nav-link {
  color: white;
}

@media screen and (max-width: 900px) {
  .texto {
    margin-left: 0%;
  }
}

@media screen and (max-width: 600px) {
  .container-fluid p {
    display: none;
  }
  .texto {
    width: 100%;
    font-size: 10px;
    margin-bottom: 0%;
    align-items: center;
  }
  .texto p {
    text-align: center;

  }
  .botones {
    font-size: 10px;
    width: 100%;
    justify-content: center;
  }
  .p {
    margin-bottom: 0px;
  }
  .btn {
    font-size: 10px;
    padding: 10px;
  }
  .conoce {
    display: flex;
    flex-direction: column;
  }
  .card {
    width: auto;
  }
  .titulo {
    font-size: 1rem;
  }

  .medio {
    flex-direction: column;
    font-size: 1rem;
  }
  .medio img {
    width: 100%;
  }
  .row {
    padding: 10px;
    margin: auto;
  }
  #conferencia {
    margin: 3rem 3rem;
  }
  .footer {
    font-size: 12px;
  }
}
